*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color_black: #060606;
  --color_white: #f8dab0;

  --unit_duration: 6s;
  --unit_dice-width: 8rem;
  --unit_dot-width: calc(var(--unit_dice-width) * 0.2);
  --unit_transform-offset: calc(var(--unit_dice-width) / -2);
  --unit_animation-offset: calc(var(--unit_dice-width) / 2);
}

body {
  background-color: var(--color_black);
}

.wrapper {
  width: 100%;
  min-width: 399px;
  height: 100vh;
  min-height: 499px;
  display: grid;
  place-items: center;
}

.dice {
  width: var(--unit_dice-width);
  aspect-ratio: 1/1;
  transform-style: preserve-3d;
  animation-duration: var(--unit_duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes dice-left {
  from {
    transform: rotatex(0turn) rotatey(0.25turn) rotatez(0.5turn)
      translatez(var(--unit_animation-offset));
  }

  to {
    transform: rotatex(1turn) rotatey(1.25turn) rotatez(1.5turn)
      translatez(var(--unit_animation-offset));
  }
}

.dice--left {
  animation-name: dice-left;
}

@keyframes dice-right {
  from {
    transform: rotatex(1.25turn) rotatey(1.5turn) rotatez(1turn)
      translatez(var(--unit_animation-offset));
  }

  to {
    transform: rotatex(0.25turn) rotatey(0.5turn) rotatez(0turn)
      translatez(var(--unit_animation-offset));
  }
}

.dice--right {
  animation-name: dice-right;
  margin: 6rem 0 0 6rem;
}

.face {
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  transform-origin: center center var(--unit_transform-offset);
  background-color: var(--color_white);
  border-radius: 1rem;
  border: 0.1rem solid var(--color_black);
  backface-visibility: hidden;
}

.face::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--color_black);
  width: var(--unit_dot-width);
  aspect-ratio: 1/1;
  border-radius: 50%;
}

/* number 1 */
.face--front {
  transform: rotatey(0turn);
}

.face--front::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* number 6 */
.face--back {
  transform: rotatey(0.5turn);
}

.face--back::after {
  top: var(--unit_dot-width);
  left: var(--unit_dot-width);
  box-shadow: 0 calc(var(--unit_dot-width) * 1),
    0 calc(var(--unit_dot-width) * 2), calc(var(--unit_dot-width) * 2) 0,
    calc(var(--unit_dot-width) * 2) calc(var(--unit_dot-width) * 1),
    calc(var(--unit_dot-width) * 2) calc(var(--unit_dot-width) * 2);
}

/* number 5 */
.face--left {
  transform: rotatey(0.75turn);
}

.face--left::after {
  top: var(--unit_dot-width);
  left: var(--unit_dot-width);
  box-shadow: 0 calc(var(--unit_dot-width) * 2),
    calc(var(--unit_dot-width) * 2) 0,
    calc(var(--unit_dot-width) * 1) calc(var(--unit_dot-width) * 1),
    calc(var(--unit_dot-width) * 2) calc(var(--unit_dot-width) * 2);
}

/* number 2 */
.face--right {
  transform: rotatey(0.25turn);
}

.face--right::after {
  top: var(--unit_dot-width);
  left: var(--unit_dot-width);
  box-shadow: calc(var(--unit_dot-width) * 2) calc(var(--unit_dot-width) * 2);
}

/* number 3 */
.face--top {
  transform: rotatex(0.25turn);
}

.face--top::after {
  top: var(--unit_dot-width);
  left: var(--unit_dot-width);
  box-shadow: 0 calc(var(--unit_dot-width) * 2),
    calc(var(--unit_dot-width) * 2) 0,
    calc(var(--unit_dot-width) * 2) calc(var(--unit_dot-width) * 2);
}

/* number 4 */
.face--bottom {
  transform: rotatex(0.75turn);
}

.face--bottom::after {
  top: var(--unit_dot-width);
  left: var(--unit_dot-width);
  box-shadow: calc(var(--unit_dot-width) * 1) calc(var(--unit_dot-width) * 1),
    calc(var(--unit_dot-width) * 2) calc(var(--unit_dot-width) * 2);
}
